<app-header title="Reporting"/>

<ion-content class="ion-padding">
  <div class="segment-container">
    <div class="segment-wrapper">
      <div class="segment-track">
        <ion-segment [(ngModel)]="segment" mode="ios" class="custom-segment">
          <ion-segment-button value="consultation" class="segment-button">
            <div class="segment-button-content">
              <ion-icon name="document-text-outline"></ion-icon>
              <span>Consultation</span>
            </div>
          </ion-segment-button>

          <ion-segment-button value="balancePerDay" class="segment-button">
            <div class="segment-button-content">
              <ion-icon name="wallet-outline"></ion-icon>
              <span>Balance</span>
            </div>
          </ion-segment-button>

          <ion-segment-button value="reminder" class="segment-button">
            <div class="segment-button-content">
              <ion-icon name="notifications-outline"></ion-icon>
              <span>Reminder</span>
            </div>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <div *ngIf="segment === 'consultation'" @creativeSegmentAnimation>
    <app-consultation></app-consultation>
  </div>
  <div *ngIf="segment === 'balancePerDay'" @creativeSegmentAnimation>
    <app-balance-per-day></app-balance-per-day>
  </div>
  <div *ngIf="segment === 'reminder'" @creativeSegmentAnimation>
    <app-reminder></app-reminder>
  </div>
</ion-content>

<app-footer/>
