<app-header title="Reporting"/>

<ion-content class="ion-padding">

  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="consultation">
      <ion-label>Consultation</ion-label>
    </ion-segment-button>
    <ion-segment-button value="balancePerDay">
      <ion-label>Balance Per Day</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reminder">
      <ion-label>Reminder</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'consultation'" @creativeSegmentAnimation>
    <app-consultation></app-consultation>
  </div>
  <div *ngIf="segment === 'balancePerDay'" @creativeSegmentAnimation>
    <app-balance-per-day></app-balance-per-day>
  </div>
  <div *ngIf="segment === 'reminder'" @creativeSegmentAnimation>
    <app-reminder></app-reminder>
  </div>

</ion-content>

<app-footer/>
