<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backButton()" style="color: var(--ion-color-primary, #0054e9); font-size: larger;">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Back
    </ion-buttons>
    <ion-title size="large">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
