<app-header backUrl="/operations" title="Operation"/>

<ion-content class="ion-padding">

  <ion-list-header>Information</ion-list-header>
  <ion-list style="margin: 0">
    <ion-item>
      <ion-label>Operation Number</ion-label>
      <ion-text slot="end" color="dark">{{ operation?.operationNumber }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Card Number</ion-label>
      <ion-text slot="end" color="dark">{{ operation?.idCard }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Karat</ion-label>
      <ion-text slot="end" color="dark">{{ operation?.karat }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-text slot="end" color="dark">{{ operation?.weight }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Cash</ion-label>
      <ion-text slot="end" color="dark">{{ formatNumberToCash(operation?.cash) }}</ion-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
      <ion-label>Operation Date</ion-label>
      <ion-text slot="end" color="dark">{{ operation?.createdAt | date: 'dd-MM-yyyy' }}</ion-text>
    </ion-item>
  </ion-list>

  <ion-list-header>Phone numbers</ion-list-header>
  <div class="phone-numbers-section">
    <div class="phone-numbers-grid">
      @for (phoneNumber of operation?.phoneNumbers; track phoneNumber) {
        <div class="phone-number-card"><a href="tel:{{ phoneNumber.number }}">{{ phoneNumber.number }}</a></div>
      }
    </div>
  </div>


  <ion-list-header>Description</ion-list-header>
  <ion-text>{{ operation?.description }}</ion-text>

  <div style="margin-top: 50px">
    <ion-list-header>Card ID</ion-list-header>
    <ion-img-viewer *ngIf="operation?.card"
                    title="Card ID"
                    scheme="dark"
                    [src]="operation?.card"
                    class="image-upload-viewer"
    >
    </ion-img-viewer>
  </div>

  <div style="margin-top: 50px">
    <ion-list-header>Contract</ion-list-header>
    <ion-img-viewer *ngIf="operation?.contract"
                    title="Contract"
                    scheme="dark"
                    [src]="operation?.contract"
                    class="image-upload-viewer"
    >
    </ion-img-viewer>
  </div>

  <div style="margin-top: 100px"></div>

</ion-content>

<app-footer/>
