<app-header backUrl="/operations" title="Operation"/>

<ion-content class="ion-padding">

  <ion-list-header>Information</ion-list-header>
  <ion-list style="margin: 0">
    <ion-item>
      <ion-label>Operation Number</ion-label>
      <ion-text slot="end" color="dark">12345678</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Card Number</ion-label>
      <ion-text slot="end" color="dark">123-1234-1234567-1</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Karat</ion-label>
      <ion-text slot="end" color="dark">18k</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-text slot="end" color="dark">97.36</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Cash</ion-label>
      <ion-text slot="end" color="dark">3.258.000</ion-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
      <ion-label>Operation Date</ion-label>
      <ion-text slot="end" color="dark">15-10-2024</ion-text>
    </ion-item>
  </ion-list>

  <ion-list-header>Phone numbers</ion-list-header>
  <div class="phone-numbers-section">
    <div class="phone-numbers-grid">
      <div class="phone-number-card">+21612345678</div>
      <div class="phone-number-card">+21612345678</div>
      <div class="phone-number-card">+21612345678</div>
      <div class="phone-number-card">+21612345678</div>
      <div class="phone-number-card">+21612345678</div>
    </div>
  </div>


  <ion-list-header>Description</ion-list-header>
  <ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
    versions of Lorem Ipsum.
  </ion-text>

</ion-content>

<app-footer/>
