<app-header title="Add New Operation" backUrl="/form/step-one-operation"/>

<ion-content class="ion-padding">

  <div class="input-group">
    <label class="input-group__label" for="firstName">First name</label>
    <input type="text" id="firstName" class="input-group__input" placeholder="First name"/>
  </div>

  <div class="input-group">
    <label class="input-group__label" for="lastName">Last name</label>
    <input type="text" id="lastName" class="input-group__input" placeholder="Last name"/>
  </div>

  <button routerLink="/operations" class="btn-stepper">Save</button>

</ion-content>

<app-footer/>
