<app-header title="Operations"/>

<ion-content class="ion-padding">

  <ion-segment value="all" mode="ios" color="primary" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button (click)="redirectToNewOperation()" style="margin-bottom: 0;">
    Add New Operation
  </ion-button>

  <app-filter-operations (filterApplied)="onFilterApplied($event)"/>

  @for (operation of operations; track operation; let i = $index) {
    <app-card-operation
      [operation]="operation"
      [index]="i"
      [isFlipped]="flippedCardIndex === i"
      (click)="toggleCard(i)"
    />
  }

  @if (showSpinner) {
    <app-spinner/>
  }

  @if (!showSpinner && operations.length === 0) {
    <div class="not-found-container">
      <ion-icon name="search-outline" class="not-found-icon"></ion-icon>
      <h2 class="not-found-title">No Operations Found!</h2>
    </div>
  }


  @if (!showSpinner && !operationsPage.last) {
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more operations...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }

</ion-content>

<app-footer/>
