<app-header title="Operations"/>

<ion-content class="ion-padding">
  <div class="segment-container">
    <div class="segment-wrapper">
      <div class="segment-track">
        <ion-segment [value]="selectedSegment" mode="ios" class="custom-segment" (ionChange)="onSegmentChange($event)">
          <ion-segment-button value="all" class="segment-button">
            <div class="segment-button-content">
              <ion-icon name="list-outline"></ion-icon>
              <span>All</span>
            </div>
          </ion-segment-button>

          <ion-segment-button value="day" class="segment-button">
            <div class="segment-button-content">
              <ion-icon name="today-outline"></ion-icon>
              <span>Today</span>
            </div>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <ion-button (click)="redirectToNewOperation()" style="margin-bottom: 0;">
    Add New Operation
  </ion-button>

  <app-filter-operations (filterApplied)="onFilterApplied($event)"/>

  @for (operation of operations; track operation; let i = $index) {
    <app-card-operation
      [operation]="operation"
    />
  }

  @if (showSpinner) {
    <app-spinner/>
  }

  @if (!showSpinner && operations.length === 0) {
    <div class="not-found-container">
      <ion-icon name="search-outline" class="not-found-icon"></ion-icon>
      <h2 class="not-found-title">No Operations Found!</h2>
    </div>
  }

  @if (!showSpinner && !operationsPage.last) {
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more operations...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }
</ion-content>

<app-footer/>
