.selected-user-client {
  margin: 20px 0;
}

.card-client {
  background: linear-gradient(135deg, #4a1d96, #312e81);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  width: 100%;
  padding: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.client-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  object-fit: cover;
}

.client-info {
  display: flex;
  flex-direction: column;
}

.client-name {
  font-size: 1.2rem;
  margin: 0;
  color: #ffab00;
}

.client-id {
  font-size: 0.9rem;
  margin: 0;
  color: #bdc3c7; /* Gris clair */
}

.card-body {
  font-size: 0.95rem;
  line-height: 1.5;
}

.card-body p {
  margin: 0.5rem 0;
}

.card-body strong {
  color: #ffab00;
}
