<app-header [title]="isUpdate ? 'Update Operation': 'Add New Operation'"
            [backUrl]="isUpdate?'/operations/view/'+operation?.operationID:'/operations'"/>

<ion-content class="ion-padding">

  <form [formGroup]="form">

    <app-select-client (handleSelectedClient)="selectedClient($event)"/>

    @if (form.get('client')?.value) {
      <app-card-select-client [client]="form.get('client')?.value"/>
    }

    <app-upload-contract [imageUrl]="operation?.contract"
                         [processImage]="operation?.contract ? ProcessImageState.HAS_FINISHED : ProcessImageState.UPLOAD_IMAGE"
                         (contractScanned)="handleContractScanned($event)"/>

    <div class="input-group">
      <label class="input-group__label" for="karat">Accounts</label>
      <select id="karat" formControlName="karat" class="form-select">
        <option [value]="null">Select Accounts</option>
        <option value="18K">18K</option>
        <option value="21K">21K</option>
        <option value="22K">22K</option>
        <option value="Others">Others</option>
      </select>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Weight">Weight</label>
      <input appWeightInput type="text" formControlName="weight" id="Weight" class="input-group__input"
             placeholder="00.00"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Weight">Cash</label>
      <input appCashFormat type="text" formControlName="cash" id="Cash" class="input-group__input" placeholder="00.00"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Description">Description</label>
      <textarea rows="6" id="Description" formControlName="description" class="input-group__input__textarea"
                placeholder="Description"></textarea>
    </div>

    <div class="flag">
      <ion-toggle justify="space-between" aria-label="Success toggle" color="success" formControlName="flag" mode="ios">
        New Customer
      </ion-toggle>
    </div>

    <button (click)="save()" style="margin-bottom: 200px" class="btn-stepper">
      @if (isUpdate) {
        Update
      } @else {
        Save
      }
    </button>

  </form>

</ion-content>

<app-footer/>
