<app-header title="Add New Operation" backUrl="/operations"/>

<ion-content class="ion-padding">

  <form [formGroup]="form">

    <app-upload-card-id (cardScanned)="handleCardScanned($event)"/>

    <app-upload-contract (contractScanned)="handleContractScanned($event)"/>

    <div class="input-group">
      <label class="input-group__label" for="myInput">Card ID:</label>
      <input type="text" id="myInput" formControlName="idCard" class="input-group__input"
             appAutoHyphen placeholder="000-0000-0000000-0"/>
    </div>

    <app-phone-numbers/>

    <div class="input-group">
      <label class="input-group__label" for="firstName">First name</label>
      <input type="text" id="firstName" formControlName="operationFirstName" class="input-group__input"
             placeholder="First name"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="lastName">Last name</label>
      <input type="text" id="lastName" formControlName="operationLastName" class="input-group__input"
             placeholder="Last name"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="lastName">Accounts</label>
      <select id="defaultSelect" formControlName="karat" class="form-select">
        <option [value]="null">Select Accounts</option>
        <option value="18K">18K</option>
        <option value="21K">21K</option>
        <option value="22K">22K</option>
        <option value="Others">Others</option>
      </select>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Weight">Weight</label>
      <input appWeightInput type="text" formControlName="weight" id="Weight" class="input-group__input"
             placeholder="00.00"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Weight">Cash</label>
      <input appCashFormat type="text" formControlName="cash" id="Cash" class="input-group__input" placeholder="00.00"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="Description">Description</label>
      <textarea rows="6" id="Description" formControlName="description" class="input-group__input__textarea"
                placeholder="Description"></textarea>
    </div>

    <div class="flag">
      <ion-toggle justify="space-between" aria-label="Success toggle" color="success"
                  [checked]="form.get('flag')?.value" mode="ios">
        New Customer
      </ion-toggle>
    </div>

    <button (click)="save()" style="margin-bottom: 200px" class="btn-stepper">Save</button>

  </form>

</ion-content>

<app-footer/>
