<div class="reminder-container">
  <div class="floating-title">
    <ion-icon name="notifications-outline"></ion-icon>
    Reminders
  </div>

  <div class="reminder-list">

    @for (reminder of operations; track reminder) {
      <app-card-reminder/>
    }

    <app-card-reminder/>
    <app-card-reminder/>
    <app-card-reminder/>
    <app-card-reminder/>
    <app-card-reminder/>
    <app-card-reminder/>
    <app-card-reminder/>

    @if (showSpinner) {
      <app-spinner/>
    }

    @if (!showSpinner && operations.length === 0) {
      <div class="not-found-container">
        <ion-icon name="search-outline" class="not-found-icon"></ion-icon>
        <h2 class="not-found-title">No Reminder Found!</h2>
      </div>
    }

  </div>
</div>

@if (!showSpinner && !operationsPage.last) {
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more operations...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
}
