<ion-title style="margin: 20px 0 0 0;padding: 0">Contract:</ion-title>
<ion-card *ngIf="processImage === ProcessImageState.UPLOAD_IMAGE" style="height: 200px;align-content: center;">

  <div class="lottie-container" (click)="openCamera()">
    <app-lottie-animation [options]="{path: '/assets/lottiefiles/scanContract.json',loop: true,autoplay: true}"/>
  </div>

</ion-card>

<ion-img-viewer *ngIf="processImage === ProcessImageState.HAS_FINISHED"
                title="Contract"
                scheme="dark"
                [src]="imageUrl ? imageUrl : undefined"
                class="image-upload-viewer"
>
</ion-img-viewer>
