.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid #ff4500; /* Add gradient color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
  padding: 20px;
  border-radius: 30px;
}

.not-found-icon {
  font-size: 60px;
  color: #ffaa00;
  margin-bottom: 0;
}

.not-found-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.not-found-message {
  font-size: 16px;
  color: #cccccc;
  margin-bottom: 20px;
}
.floating-title {
  background-color: #5a67d8;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
