.login-container {
  height: 100%;
  align-content: center;
}

.input-label-placement-floating.sc-ion-input-ios-h, .input-label-placement-stacked.sc-ion-input-ios-h {
  min-height: 80px;
}

.sc-ion-input-ios-h {
  font-size: 23px;
}
