<ion-title style="margin: 20px 0 0 0; padding: 0">Card ID:</ion-title>
<ion-card *ngIf="processImage === ProcessImageState.UPLOAD_IMAGE || processImage === ProcessImageState.IN_PROCESS"
          style="height: 200px;align-content: center;">
  <ion-card-header *ngIf="processImage === ProcessImageState.UPLOAD_IMAGE" (click)="openCamera()"
                   style="display: flex; align-items: center; place-content: center;">
    <ion-icon color="dark" class="icon-cardID" name="camera-outline" size="large"></ion-icon>
  </ion-card-header>
  <ion-card-header *ngIf="processImage === ProcessImageState.IN_PROCESS"
                   style="display: flex; align-items: center; justify-content: center;">
    <!-- Spinner Wrapper with Gradient -->
    <div class="gradient-spinner">
      <div class="dynamic-spinner"></div>
    </div>
    <ion-label class="animate-character" style="margin-top: 15px">processing image...</ion-label>
  </ion-card-header>
</ion-card>

<ion-img-viewer *ngIf="processImage === ProcessImageState.HAS_FINISHED"
                title="Card ID"
                scheme="dark"
                [src]="imageUrl ? imageUrl : undefined"
                class="image-upload-viewer"
>
</ion-img-viewer>

@if (showError) {
  <ion-text color="danger">Unable to extract card details. Please retake the photo, ensuring the card is well-focused
    and in good lighting.
  </ion-text>
}
