<div class="card-container" (click)="setOpen(true)">
  <div class="select-client-card">
    <button class="select-client-button">
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="users-icon">
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle cx="9" cy="7" r="4"></circle>
          <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
          <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
        </svg>
      </div>
      <div class="text-container">
        <h3 style="color: #ffab00">Select Client</h3>
        <p>Choose a client to proceed</p>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="chevron-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </button>
  </div>
</div>


<ion-modal mode="ios">
  <ng-template>
    <ion-content>
      <app-list-select-client (handlecloseModal)="setOpen($event)" (handleSelectedClient)="selectedClient($event)"/>
    </ion-content>
  </ng-template>
</ion-modal>
