<div class="filter-section">
  <h2>Filter</h2>
  <div>Client</div>
  @if (!client) {
    <ion-button id="open-modal" class="choose-client" expand="block">Choose Client</ion-button>
  } @else {
    <div class="card-client-view">
      <app-card-client [client]="client"/>
    </div>
  }
  <label for="date">Date</label>
  <input type="date" id="date" placeholder="mm/dd/yyyy" [(ngModel)]="dateFilter" [max]="maxDate">
  <div class="button-group">
    <button class="apply-filter" (click)="applyFilter()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
      </svg>
      Apply Filter
    </button>
    <button class="reset" (click)="resetFilter()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21.5 2v6h-6M2.5 22v-6h6M2 11.5a10 10 0 0 1 18.8-4.3M22 12.5a10 10 0 0 1-18.8 4.3"></path>
      </svg>
      Reset
    </button>
  </div>
</div>


<app-modal-client (handleSelectedClient)="handleSelectedClient($event)"/>
