<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="redirectTo('/home')">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/operations')">
          <ion-icon name="list-circle-outline"></ion-icon>
          Operations
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/form/step-one-operation')">
          <ion-icon class="icon-add" name="add-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/list-client')">
          <ion-icon name="people-outline"></ion-icon>
          Clients
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/reporting')">
          <ion-icon name="trending-up-outline"></ion-icon>
          Reporting
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
