<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="redirectTo('/home')">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/operations')">
          <ion-icon name="list-circle-outline"></ion-icon>
          Operations
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/form/step-one-operation')">
          <ion-icon class="icon-add" name="add-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="redirectTo('/reminder')">
          <ion-icon name="time-outline"></ion-icon>
          Reminder
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
