ion-modal {
  border-radius: 20px;
  overflow: unset;
}

ion-modal ion-content {
  --background: rgb(17 24 39 / 1);
  overflow: unset;
}

.client-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
  overflow: auto;
  padding: 15px 15px 100px;
}
