<app-header backUrl="list-client" [title]="isUpdate ? 'Update Client': 'New Client'"></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">
    <app-upload-card-id [imageUrl]="client?.card"
                        [processImage]="client?.card ? ProcessImageState.HAS_FINISHED : ProcessImageState.UPLOAD_IMAGE"
                        (cardScanned)="handleCardScanned($event)"/>

    <div class="input-group">
      <label class="input-group__label" for="myInput">Card ID:</label>
      <input type="text" id="myInput" formControlName="idCard" class="input-group__input"
             appAutoHyphen placeholder="000-0000-0000000-0"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="firstName">First name</label>
      <input type="text" id="firstName" formControlName="firstname" class="input-group__input"
             placeholder="First name"/>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="lastName">Last name</label>
      <input type="text" id="lastName" formControlName="lastname" class="input-group__input"
             placeholder="Last name"/>
    </div>

    <app-phone-numbers [phoneNumbers]="client?.phoneNumberDTOs"/>

    <button (click)="save()" style="margin-bottom: 200px" class="btn-stepper" [disabled]="isLoading">
      @if (isLoading) {
        <div class="spinner"></div>
      } @else {
        @if (isUpdate) {
          Update
        } @else {
          Save
        }
      }
    </button>

  </form>

</ion-content>

<app-footer/>
<ion-alert mode="ios"
           [isOpen]="isAlertOpen"
           [header]="errorMessage.title"
           [message]="errorMessage.description"
           [buttons]="alertButtons"
           (didDismiss)="setOpen(false)"
></ion-alert>
