<app-header backUrl="list-client" [title]="isUpdate ? 'Update Client': 'New Client'"></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">
    <app-upload-card-id [imageUrl]="client?.card"
                        [processImage]="client?.card ? ProcessImageState.HAS_FINISHED : ProcessImageState.UPLOAD_IMAGE"
                        (cardScanned)="handleCardScanned($event)"/>

    <div class="form-group">
      <div class="input-label">
        <ion-icon name="card-outline"></ion-icon>
        <span>Card ID</span>
      </div>
      <div class="input-container">
        <input
          type="text"
          formControlName="idCard"
          appAutoHyphen
          placeholder="000-0000-0000000-0"
        >
        <div class="focus-indicator"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-label">
        <ion-icon name="person-outline"></ion-icon>
        <span>First Name</span>
      </div>
      <div class="input-container">
        <input
          type="text"
          formControlName="firstname"
          placeholder="Enter first name"
        >
        <div class="focus-indicator"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-label">
        <ion-icon name="person-outline"></ion-icon>
        <span>Last Name</span>
      </div>
      <div class="input-container">
        <input
          type="text"
          formControlName="lastname"
          placeholder="Enter last name"
        >
        <div class="focus-indicator"></div>
      </div>
    </div>

    <app-phone-numbers [phoneNumbers]="client?.phoneNumberDTOs"/>

    <button (click)="save()" style="margin-bottom: 200px" class="btn-stepper" [disabled]="isLoading">
      @if (isLoading) {
        <div class="spinner"></div>
      } @else {
        @if (isUpdate) {
          Update
        } @else {
          Save
        }
      }
    </button>

  </form>

</ion-content>

<app-footer/>
<ion-alert mode="ios"
           [isOpen]="isAlertOpen"
           [header]="errorMessage.title"
           [message]="errorMessage.description"
           [buttons]="alertButtons"
           (didDismiss)="setOpen(false)"
></ion-alert>
