<div class="client-card">
  <div class="card-header">
    <div class="client-avatar">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
    <div class="client-info">
      <h2>{{ client.firstname }} {{ client.lastname }}</h2>
      <p class="client-id">ID: {{ client.idCard }}</p>
    </div>
  </div>
  <div class="card-body">
    <h4>Phone Numbers</h4>
    <div class="phone-numbers">
      <div *ngFor="let phone of client.phoneNumberDTOs!.slice(0, 5)" class="phone-item">
        <ion-icon name="call-outline"></ion-icon>
        <span>{{ phone.number }}</span>
      </div>
    </div>
  </div>
</div>
