<div class="filter-container">
  <!-- Active Filters Display -->
  <div class="active-filters-container" *ngIf="hasActiveFilters()">
    <div class="filters-header">
      <ion-icon name="bookmark-outline"></ion-icon>
      <span>Active Filters</span>
    </div>

    <div class="filter-chips">
      <div class="chip" *ngIf="filterChips.cardID" (click)="clearFilterChip('cardID')">
        <div class="chip-content">
          <ion-icon name="card-outline"></ion-icon>
          <span>{{ filterChips.cardID }}</span>
        </div>
        <div class="remove-icon">
          <ion-icon name="close-circle"></ion-icon>
          <div class="hover-effect"></div>
        </div>
      </div>

      <div class="chip" *ngIf="filterChips.phoneNumbers" (click)="clearFilterChip('phoneNumbers')">
        <div class="chip-content">
          <ion-icon name="call-outline"></ion-icon>
          <span>{{ filterChips.phoneNumbers }}</span>
        </div>
        <div class="remove-icon">
          <ion-icon name="close-circle"></ion-icon>
          <div class="hover-effect"></div>
        </div>
      </div>

      <div class="chip" *ngIf="filterChips.firstName" (click)="clearFilterChip('firstName')">
        <div class="chip-content">
          <ion-icon name="person-outline"></ion-icon>
          <span>{{ filterChips.firstName }}</span>
        </div>
        <div class="remove-icon">
          <ion-icon name="close-circle"></ion-icon>
          <div class="hover-effect"></div>
        </div>
      </div>

      <div class="chip" *ngIf="filterChips.lastName" (click)="clearFilterChip('lastName')">
        <div class="chip-content">
          <ion-icon name="person-outline"></ion-icon>
          <span>{{ filterChips.lastName }}</span>
        </div>
        <div class="remove-icon">
          <ion-icon name="close-circle"></ion-icon>
          <div class="hover-effect"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <ion-modal #modal trigger="open-modal-filter-client" [breakpoints]="[0, 0.25, 0.5, 0.75, 0.95]" [initialBreakpoint]="0.75">
    <ng-template>
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <div class="header-content">
            <ion-icon name="options-outline"></ion-icon>
            <h2>Filter Clients</h2>
          </div>
          <button class="close-button" (click)="modal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
            <div class="button-background"></div>
          </button>
        </div>

        <!-- Filter Form -->
        <div class="filter-form">
          <div class="form-group">
            <div class="input-label">
              <ion-icon name="card-outline"></ion-icon>
              <span>Card ID</span>
            </div>
            <div class="input-container">
              <input
                type="text"
                [(ngModel)]="filter.cardID"
                appAutoHyphen
                placeholder="000-0000-0000000-0"
              >
              <div class="focus-indicator"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-label">
              <ion-icon name="call-outline"></ion-icon>
              <span>Phone Number</span>
            </div>
            <div class="input-container">
              <input
                type="tel"
                [(ngModel)]="filter.phoneNumbers"
                placeholder="+00 000 000"
              >
              <div class="focus-indicator"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-label">
              <ion-icon name="person-outline"></ion-icon>
              <span>First Name</span>
            </div>
            <div class="input-container">
              <input
                type="text"
                [(ngModel)]="filter.firstName"
                placeholder="Enter first name"
              >
              <div class="focus-indicator"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-label">
              <ion-icon name="person-outline"></ion-icon>
              <span>Last Name</span>
            </div>
            <div class="input-container">
              <input
                type="text"
                [(ngModel)]="filter.lastName"
                placeholder="Enter last name"
              >
              <div class="focus-indicator"></div>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="modal-actions">
          <button class="action-button reset" (click)="resetFilters(modal)">
            <ion-icon name="refresh-outline"></ion-icon>
            <span>Reset</span>
            <div class="button-background"></div>
          </button>

          <button class="action-button apply" (click)="applyFilters(modal)">
            <span>Apply</span>
            <div class="button-background"></div>
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</div>
