<div class="phone-number-section">
  <h4 style="margin-bottom: 25px;">Phone Numbers:</h4>
  <!-- Loop to display each phone field -->
  <div class="phone-field-container" *ngFor="let phone of phoneNumbers; let i = index">
    <ion-input type="tel" placeholder="Phone Number {{ i + 1 }}" [(ngModel)]="phone.value"></ion-input>
    <button class="remove-btn" (click)="removePhone(i)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </div>

  <!-- Add Phone Button -->
  <button class="add-phone-btn" (click)="addPhoneNumber()" [disabled]="phoneNumbers.length >= 5">
    <ion-icon name="add-circle-outline"></ion-icon>
    Add Phone Number
  </button>

</div>
