.phone-numbers-container {
  color: white;
  margin: 40px 0;
}

.phone-numbers-title {
  font-size: 0.875em;
  margin-bottom: 1rem;
}

.phone-numbers-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.phone-number-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(49, 46, 129, 0.5);
}

ion-input {
  flex: 1;
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent;
  --color: white;
  --placeholder-color: #a0a0a0;
  --placeholder-opacity: 0.8;
}

.remove-button {
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --color: white;
  height: 2rem;
  width: 3rem;
  margin: 0;
  --background: transparent;
}

.remove-button ion-icon {
  font-size: xx-large;
}
