<div class="phone-numbers-container">
  <div class="input-group__label">Phone Numbers:</div>
  <div class="phone-numbers-list">
    <div *ngFor="let phone of phoneNumbers; let i = index" class="phone-number-item">
      <ion-input type="tel" [(ngModel)]="phone.number" placeholder="Phone Number {{ i + 1 }}"></ion-input>
      <ion-button fill="clear" (click)="removePhone(i)" class="remove-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-button expand="block" (click)="addPhoneNumber()" [disabled]="phoneNumbers.length >= 5" class="add-phone-button">
    <ion-icon name="add-outline" slot="start"></ion-icon>
    Add Phone Number
  </ion-button>
</div>
